<html>
<head>
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="refresh" content="120">
<link rel="stylesheet" type="text/css" href="LatestFive.css">
</head>

{{#songs}}
<div class="song">
<p><span class="small">{{start_time}} <a target="_blank"
href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Ddigital-music&field-keywords={{title}}+{{artist}}&tag=wt897fmrafomu-20"
   >Buy Song</a></span><br>
Title: {{title}}<br>
Artist: {{artist}}</p>
</div>

{{/songs}}
</html>
