<html>
<head>
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="refresh" content="60">
<link rel="stylesheet" type="text/css"
href="http://wtmd.org/radio/NowPlaying.css">
</head>

<span class="now-playing-time">{{current_time}}</span>
<span class="now-playing-buy"><a target="_blank"
href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Ddigital-music&field-keywords={{title}}+{{artist}}&tag=wt897fmrafomu-20"
>Buy Song</a></span><br/><span
class="now-playing-artist-song"> {{artist}}: {{title}}</span>
</html>
