# Copy this example file to the file ../.env (i.e., at the root of the
#   project's directory tree). There, fill in your information.
#
WEBSITE_DOMAIN={Your website's domain name}
WEBSITE_FTP_USERNAME={Your website's FTP username}
WEBSITE_FTP_PASSWORD={Your website's FTP password}
